h1 {
    text-align: center;
}
body{
    background: linear-gradient(45deg, #5b5fa3, #1a6a8f);
}
.form{
    border:solid 1px;
}
.button{
  background-color: #da9311; 
    border: none;
    color: rgb(3, 3, 3);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-shadow: 1px 1px;
}

.div1{
    font: 10px Arial;
    color: black;
}